
.taskListArea > .taskList {
    display: inline-block;
    margin: 0;
    background: #fdfdfd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.33);
    border-radius: 0 0 5px 5px;
}

.taskList > .title {
    padding-left: 2em;
    padding-right: 2em;
    background: #f4f4f4;
}

.taskList > .title > .text {
    margin: 0;
}

.taskList > .tasks {
    padding-left: 0.5em;
}

.taskList > .tasks > .task > p{
    display: inline-block;
}
